html, body, header {
  /* height: 100%; */
  margin: 0;
  background-color: #00001e;
  /* font-size: 1.1+rem; */

  /* font-size: 24px; */
}

header {
  position: relative;
  z-index: 0;
  overflow: hidden;
}


/* header {
  text-align: center;
  font: 3em/1.4 helvetica neue, helvetica, arial, sans-serif;
  color: #fff
} */

.wrap {
  /* position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; */
}

.magic-circle {
display: inline-block;
  margin: 0 auto;
  max-height: 100vh;
  /* width: 0%; */
  /* max-width: 100vw; */
  /* min-width: 90vw; */
  /*width: 830px;
  height: 830px;
  max-width: 100%;
  object-fit: cover; */



  /* position: absolute;
  top: 0;
  bottom: 0;
text-align:center;
  margin: auto;
  margin-top: 0; */
}

.stars {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: -100;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bottom-div {
  /* background-color: #0e1554; */
}

.tall {
  height: 100%;
}

.info-wrap {
  display: inline-block;
  margin: 0 auto;
  padding: 0;

  /* text-align: center; */
  /* margin:0; */
  /* object-fit: cover; */
  /* height: 18em; */
  /* object-fit: contain; */
  /* overflow: auto; */
}

.flex-grow {
  flex-grow: 1;
}

.info {
  display: inline-block;
  margin: 0 auto;
  width: 30em;

}

.column-centre {
  text-align:center;
}

.popup-card {
  text-align: center;
  display: inline-block;
  margin: 20px auto;
  /* width: 450px; */
  width: 30rem;
}

.chapter-divider {
  width: 80%;
  border-top: 2px solid white;
  margin: auto !important;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0),white, rgba(0, 0, 0, 0));
}

@media screen and (max-width: 1775px) {
  .col-xl-3{
    display: none;
  }
}

@media (max-width: 992px) {
  body{font-size: 1.7rem;}
  .popup-card {
    width: 100%;
  }
  .desktop-buffer{
    display: none;
  }
}