@include 

html body header .wrap {
     height: 100%;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100vh;
  width: 100%;
}

header {
  position: relative;
  z-index: 0;
}
header {
  text-align: center;
  font: 3em/1.4 helvetica neue, helvetica, arial, sans-serif;
  color: #fff
}

.wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.magic-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: -9999px;
  margin: auto;
  margin-top: 0;
}